.busRouteContainer {
  display: flex;
  flex-direction: column;
  text-align: center;

  .subtitleRoute {
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
  }
  .subtitleCenter {
    font-weight: bold;
    color: #325fa9;
    font-size: 18px;
    margin: 10px;
  }

  .selectFromTo {
    margin: 10px;
  }

  .futureCharge {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    background-color: maroon;

    .chargedText {
      margin: 20px auto;
      font-weight: bold;
      font-size: 30px;
      color: #eee;
    }

    .discountText {
      width: 100%;
      height: min-content;
      background-color: green;
      margin: 20px auto;
      font-weight: bold;
      font-size: 18px;
      color: #eee;
    }
  }
}
