html {
  height: 100%;
}

body {
  background: radial-gradient(circle, #fff, #bbb);
  background-size: 100% 100%;
  p,
  span,
  h1,
  h2,
  h3,
  ul,
  li {
    font-family: "Akzidenz-Grotesk BQ";
    cursor: default;
  }
  input[type="text"],
  textarea {
    font-family: "Akzidenz-Grotesk BQ";
  }
  button {
    font-family: "Akzidenz-Grotesk BQ";
    cursor: pointer;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(3, 1fr) min-content;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}
