.homePage {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .butttonArray {
    margin: auto;
  }

  .subtitle {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    color: #333;
  }

  .subtitleCenter {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .arrayDiv {
    margin: auto;
    width: 90%;
    height: auto;
    background-color: maroon;
    padding: 20px;
    color: #fff;
  }

  .arrayDivSort {
    margin: auto;
    width: 90%;
    height: auto;
    background-color: maroon;
    padding: 20px;
    color: #fff;
  }
}
