.navBar {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  background-color: #383e56;
  z-index: 20;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      :hover {
        color: #32afa9;
      }

      a {
        display: block;
        padding: 10px;
        font-size: 20px;
        color: whitesmoke;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .item-r {
    float: right;
  }
}
